{% extends 'base.html' %}

{% block content %}
<div class="" style="width: 100%">
    <div class="upper-panel">
        <div class="header-title">
            <h2>Gerenciar Médicos ({{medicos.count}})</h2>
        </div>
        <div class="filter-div">
                <div class="btn btn-add">
                    <a class="linkbutton" href="{% url 'novo_medico' %}">
                        Registrar <br /> novo médico
                    </a>
                </div>
                <input type="text" id="filtro-medicos" class="form-control filtro"
                    placeholder="Insira aqui algum dado a ser filtrado"
                />
        </div>

        <div class="table-content">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CRM</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medico in medicos %}
                    <tr>
                        <td>{{ medico.nome }}</td>
                        <td>{{ medico.crm }}</td>
                        <td>
                            <a href="{% url 'editar_medico' medico.id %}" class="btn btn-editar btn-sm">Editar</a>
                            <a class="btn btn-excluir btn-sm" href="{% url 'excluir_medico' medico.id %}"
                                onclick="return confirm('Tem certeza de que deseja excluir o médico {{ medico.nome }}?')">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>

    .btn {
        padding: 10px 12px;
        border-radius: 10px;
        font-size: 0.9rem;
        color: #FFF;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }

    .btn-editar {
        background-color: #696969;
    }

    .btn-editar:hover {
        background-color: #494949;
    }

    .btn-excluir {
        background-color: #DD0000;
    }

    .btn-excluir:hover {
        background-color: #8f0000;
    }

    .btn-novomedico {
        padding: 12px 18px;
        width: 200px;
        background-color: #028214;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-novomedico:hover {
        background-color: #00580c;
    }

    .linkbutton {
        text-decoration: none;
        color: #FFF;
    }
</style>
<script>
    const filtroInput = document.getElementById('filtro-medicos');
    const medicos = document.querySelectorAll('tbody tr');

    filtroInput.addEventListener('input', function () {
        const filtroValor = filtroInput.value.toLowerCase();

        medicos.forEach(medico => {
            let medicoEncontrado = false;
            medico.querySelectorAll('td').forEach(dado => {
                if (dado.textContent.toLowerCase().includes(filtroValor)) {
                    medicoEncontrado = true;
                }
            });
            if (medicoEncontrado) {
                medico.style.display = 'table-row';
            } else {
                medico.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}